{% extends 'public/base.html.twig' %}
{% block title %}
    Go gym | Les dernières news
{% endblock %}

{% block intro %}

    {{ include('shared/_indexintro.html.twig', { indexTitle : "Les dernières news !", indexDescription: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto aspernatur aut consectetur consequuntur, corporis cupiditate deleniti deserunt dignissimos doloremque eius eligendi enim eveniet expedita fuga iure labore laboriosam laudantium nisi numquam officia perferendis porro possimus praesentium quae quia quod quos sapiente sint soluta ullam voluptates voluptatum! Aliquam, aperiam!' }) }}

{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            {% for post in posts %}
                {{ include('shared/_postcard.html.twig', { post: post }) }}
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center small mb-5">
            {{ knp_pagination_render(posts, 'shared/bootstrap_v5_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
