<div class="container justify-content-center">
    <h3>{{ indexTitle }}</h3>
    <p>{{ indexDescription | default('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum iusto laboriosam minima quaerat quam quo? Aut doloribus nesciunt voluptatem?') }}</p>
</div>