{{ form_start(form) }}
<div class="d-flex my-2">
    {{ form_widget(form.q) }}
    <button class="btn btn-outline-light mx-2" type="submit"><i class="bi bi-search"></i></button>
</div>
{{ form_end(form) }}