{% extends 'public/base.html.twig' %}

{% block title %}
    Go gym | Bienvenue !
{% endblock %}

{% block search %}
    {% include 'shared/_search_data.html.twig' with {form: form} only %}
{% endblock %}

{% block intro %}
    <div class="bg-pink-100 w-100 p-5">
        {{ include('shared/_indexintro.html.twig', { indexTitle : "Go go go !", indexDescription: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aut cumque ea earum explicabo fugiat nam pariatur quam tempora.' }) }}
    </div>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row my-5">
        <h4>Les dernières news</h4>
        {% for post in postsNews %}
            {{ include('shared/_postcard.html.twig', {post: post}) }}
        {% endfor %}
    </div>
    <div class="row my-5">
        <h4>Du nouveau côté nutrition !</h4>
        {% for post in postsDiet %}
            {{ include('shared/_postcard.html.twig', {post: post}) }}
        {% endfor %}
    </div>
</div>
{% endblock %}
