{% extends 'admin/base.html.twig' %}

{% block title %} Go gym | Bienvenue administrés
{% endblock %}

{% block intro %}
    <div class="container-fluid d-inline-flex justify-content-between mb-3">
        <h3>Bienvenue Administrés</h3>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
